/* Form Boundaries */

.runtime-form {
    position: absolute !important;
    top: 200px;
    left: 5%;
    width: 70% !important;

}

#vacancy-reports {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.report-wrapper {
    background: white;
    border-radius: 2.5ex;
    overflow : hidden !important ;
}

.reportTitle {
    color: var(--card-title-color) !important;
    font-weight: bold;
    font-size: 25px !important;
    margin: 0px 35px !important;
}


#vacancy-reports-doublecardwrapper {
    display: flex;
    justify-content : space-evenly;
    flex-wrap : wrap ;
    gap: 20px;
    overflow : hidden !important ;
}

#vacancy-reports-doublecardwrapper  > div{
width : 50% ;
max-width : 500px ;  
}
